@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(https://picsum.photos/1920/1080);
    background-size: cover;
}

.cartao{
    border: 1px solid;
    padding: 1em;
    width: 100%;
    max-width: 450px;
    border-radius: 25px;
    margin: 0.5em;
    background-color: #000000d0;
    color: #eaeaea;

}

.procurar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.procurar button{
    border-radius: 50%;
    border: none;
    height: 2.5em;
    width: 2.5em;
    background-color: #FFFFFF;
    cursor: pointer;
}

.barra-procurar{
    border-radius: 18px;
    border: none;
    outline: none;
    padding: 0.8em;
    background-color: #7c7c7c2d;
    color: #FFFFFF;
    height: 3rem;
    width: 80%;
    font-size: 1.5rem;
}

.tempo{
    font-size: 1.2rem;
}

#cidade{
    font-size: 2.3rem;
    color: #ead94c;
}

span{
    font-weight: 800;
    color: #ead94c;
}
#descricao{
    font-size: 1.8rem;
    text-transform: capitalize;
}
